@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'dynamo-magician-regular', sans-serif;
    src: url(../fonts/DYNAMO\ magician.ttf);
}
body, html{
    font-family: 'dynamo-magician-regular', sans-serif;
}